<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModBusV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ModBusV1.Properties.Settings>
            <setting name="Baudrate" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ParityBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Refresh" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ipAddress" serializeAs="String">
                <value>192.168.0.6</value>
            </setting>
            <setting name="Read_type" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="startAddressTCP" serializeAs="String">
                <value>1001</value>
            </setting>
            <setting name="quantityTCP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="startAddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="quantity" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Request" serializeAs="String">
                <value>alabalaportocala</value>
            </setting>
            <setting name="Response" serializeAs="String">
                <value>alabalaportocala</value>
            </setting>
            <setting name="btnStartChecked" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="writeaddress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="writevalue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="writeEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="writeRegistersEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="writequantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="value10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="slaveID" serializeAs="String">
                <value>1</value>
            </setting>
        </ModBusV1.Properties.Settings>
    </userSettings>
</configuration>